.head{
    color: cornflowerblue;  
 }
 .box{
     font-weight:600;
 }
 .box1{
     color: #408080;
 }
 .img{
     width:160px; border-radius: 50%;
 }
 .img2{
    width:200px; border-radius: 20px; 
}
 .text{
    text-align:left; font-size: 14px; color: chocolate;
 }
 .box2{
     color: chocolate;
 }
 a.box1:hover{
    color: blue; font-weight: bold;
}
a.box1:active{
    color: crimson; font-weight: bold;
}
.btn{
	background-color:	#E6CAFF	;
	text-shadow:   1px 1px #000000;
	border-radius: 11px;
	padding:       5px 10px;
}
body{
    background-image: url('images/p5.jpg');
}

